* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  /* cores base */
  :root {
    font-size: 62.5%;
  
    --hue: 100;
    --color-base-white: #B58BCF;
    --color-base-gray-100: #D5B8E1;
    --color-base-gray-300: #ffffff;
    --color-base-gray-500: #000000;
    --color-base-gray-900: #ffffff;
  }
  
  /* Fontes */
  html,
  body,
  input {
    font-family: "Cardo", "Capriola", "Yusei Magic";
  }
  
  /* Body */
  body {
    font-size: 1.6rem;
    background-color: var(--color-base-white);
    color: var(--color-base-gray-900);
  }
  
  #app {
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    height: 100vh;
  }
  
  /* General Container */
  .container {
    padding: 1.2rem 3.2rem;
    height: 5.9375rem;
    margin: auto;
  }
  
  /* Main Content */
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: var(--color-base-gray-100);
    box-sizing: border-box;
  }

  .maintext1 {
    color: #000;
    font-family: "Capriola";
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    left: 1100px;
    bottom: 75%;
}

.maintext2 {
    color: #000;
    font-family: "Capriola";
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    left: 1100px;
    bottom: 71%;
}


.maintext3 {
    color: #000;
    font-family: "Capriola";
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    left: 1100px;
    bottom: 61%;
}

.maintext4 {
    color: #000;
    font-family: "Capriola";
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    left: 1100px;
    bottom: 57%;
}



.maintext5 {
    color: #000;
    font-family: "Capriola";
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    left: 1100px;
    bottom: 48%;
}

.maintext6 {
    color: #000;
    font-family: "Capriola";
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    left: 1100px;
    bottom: 44%;
}

.maintext7 {
    color: #000;
    font-family: "Capriola";
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    left: 1100px;
    bottom: 40%;
}
 

  section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 45px;
    background: #FBF9F9B2;
    width: 500px;
    border-radius: 0.625rem;
    position: absolute;
    right: 60%;
    top: 14%;
    
}

section h2{
    font-size: 2.5rem;
    margin: 2rem;
    color: #000;
    text-align: center;
    font-family: Capriola;
    font-size: 3.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

section form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

form label{
    color: #000;
    font-size: 17px;
    margin-bottom: 4px;
    font-family: Capriola;
    font-size: 1.0625rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

form input{
    padding: 15px;
    outline: none;
    border-radius: 0.625rem;
    border: 0;
    margin-bottom: 20px;
    font-size: 15px;
    transition: all 0.5s;
    font-family: "Capriola";
}

form input:focus{
    border-radius: 16px;
}

form textarea{
    padding: 10px;
    outline: none;
    border: 0;
    font-size: 15px;
    margin-bottom: 30px;
    transition: all 0.5s;
    border-radius: 0.625rem;
    resize: none;
}

form textarea:focus{
    border-radius: 16px;
}

form button{
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    background: #8C6996;
    border: 2px solid #f5f5f5;
    color: #f5f5f5;
    transition: all 1s;
    margin-bottom: 20px;
    font-family: "Capriola";
    border-radius: 0.625rem;
    width: 10rem;
    height: 5rem;
    
}

form button:hover{
    background: #a47faf;
    color: #FBF9F9B2;
    border-radius: 17px;
    font-family: "Capriola";
    width: 10rem;
    height: 5rem;
}

  /* Header and Navigation */
  header,
  nav,
  nav ul {
    display: flex;
    align-items: center;
    gap: 7.2rem;
  }
  
  header form {
    flex: 1;
  }
  
  nav ul {
    list-style: none;
    margin: 0; /* Removendo margem padrão */
    padding: 0; /* Removendo padding padrão */
    text-align: center; /* Centralizando horizontalmente */
  }
  
  ul li.Home {
    color: #FFF;
    font-family: "Capriola", sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    word-wrap: break-word;
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
  }
  
  ul li.Contatos {
    color: #FFF;
    font-family: "Capriola", sans-serif; /* Adicionando fallback para fontes que não suportam "Capriola" */
    font-style: normal;
    font-size: 22px;
    font-weight: 400;
    word-wrap: break-word;
    display: inline-block;
    margin: 0 10px; /* Ajuste opcional para espaçamento entre os itens */
    cursor: pointer;
  }
  
  ul li.Álbuns {
    color: #FFF;
    font-family: "Capriola", sans-serif; /* Adicionando fallback para fontes que não suportam "Capriola" */
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    word-wrap: break-word;
    display: inline-block;
    margin: 0 10px; /* Ajuste opcional para espaçamento entre os itens */
    cursor: pointer;
  }
  
  ul li.Sobre_mim {
    color: #FFF;
    font-family: "Capriola", sans-serif; /* Adicionando fallback para fontes que não suportam "Capriola" */
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    word-wrap: break-word;
    display: inline-block;
    margin: 0 20px; /* Ajuste opcional para espaçamento entre os itens */
    cursor: pointer;
  }
  
  ul li:last-child {
    margin-right: 0; /* Removendo margem à direita do último item */
  }
  
  .input-wrapper input {
    width: 550px;
    height: 25px;
    padding: 1.6rem;
    position: relative;
    left: 15rem;
    background-color: var(--color-base-gray-100);
    border: 0;
    border-radius: 25px;
    font-size: 26px; /* texto da barra de pesquisa */
    font-weight: 700;
    color: rgba(0, 0, 0, 0.62);
    font-family: Cardo;
    text-align: center;
  }
  
  .input-wrapper input::placeholder {
    opacity: 0.60;
    color: var(--color-base-gray-500);
  }
  
  /* barra baixo */
  footer text {
    color: #FFF;
    font-family: "Capriola", sans-serif;
    font-size: 1.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .logo {
    width: 150px;
    height: auto;
    display: block;
    position: absolute;
    left: 9rem;
  }
  
  .lupa-svg {
    width: 25px;
    height: auto;
    display: block;
    position: absolute;
    right: 690px;
    top: 30px;
    opacity: 0.60;
    cursor: pointer;
  }

  /*Página do Obrigado*/

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background:#D5B8E1;
    flex-direction: column;
 }
 .text{
     font-size: 45px;
     color: #000000;
     margin-bottom: 30px;
 }
 .paragrafo{
     color: #000000;
     margin-bottom: 50px;
 }
 .btn{
     padding: 15px 55px;
     background: #8C6996;
     text-decoration: none;
     color: #ffffff;
     font-size: 18px;
     transition: all 0.5s;
     font-family: "Capriola";
     border-radius: 10px;
 }
 .btn:hover{
     border-radius: 20px;

 }

 .svg-1 img {
    position: absolute;
    right: 43%;
    top: 20rem;
  }
  
  .svg-2 img {
    position: absolute;
    right: 43%;
    top: 33rem;
  }
  
  .svg-3 img {
    position: absolute;
    right: 43%;
    top: 46rem;
  }


  .svg-4 img {
    position: absolute;
    right: 8%;
    top: 80rem;
    transition: transform 0.3s; /* Adiciona transição suave */
}

.svg-4 img:hover {
    transform: scale(1.1); /* Aumenta a imagem ao passar o mouse */
}

.svg-5 img {
    position: absolute;
    right: 5%;
    top: 80rem;
    transition: transform 0.3s; /* Adiciona transição suave */
}

.svg-5 img:hover {
    transform: scale(1.1); /* Aumenta a imagem ao passar o mouse */
}
  
