* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  /* cores base */
  :root {
    font-size: 62.5%;
  
    --hue: 100;
    --color-base-white: #B58BCF;
    --color-base-gray-100: #D5B8E1;
    --color-base-gray-300: #ffffff;
    --color-base-gray-500: #000000;
    --color-base-gray-900: #ffffff;
  }
  
  /* Fontes */
  html,
  body,
  input {
    font-family: "Cardo", "Capriola", "Yusei Magic";
  }
  
  /* Body */
  body {
    font-size: 1.6rem;
    background-color: var(--color-base-white);
    color: var(--color-base-gray-900);
  }
  
  #app {
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    height: 100vh;
  }
  
  /* General Container */
  .container {
    padding: 1.2rem 3.2rem;
    height: 5.9375rem;
    margin: auto;
  }
  
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background:#D5B8E1;
    flex-direction: column;
 }
 .text{
     font-size: 45px;
     color: #000000;
     margin-bottom: 30px;
 }
 .paragrafo{
     color: #000000;
     margin-bottom: 50px;
 }
 .btn{
     padding: 15px 55px;
     background: #8C6996;
     text-decoration: none;
     color: #ffffff;
     font-size: 18px;
     transition: all 0.5s;
     font-family: "Capriola";
     border-radius: 10px;
 }
 .btn:hover{
     border-radius: 20px;

 }

.svg-1 img {
  position: absolute;
  right: 45%;
  top:0
}

.svg-2 img {
  position: absolute;
  right: 70%;
  top: 612px
}

.svg-3 img {
  position: absolute;
  right: 0%;
  top: 603px;
 
}